body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-nunito), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
